
{% extends 'layout.html' %}

{% block content %}
<section data-bs-version="5.1" class="image3 cid-sOttIufsnM" id="image3-x">
    

    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="image-wrapper">
                    <img src="static/assets/images/campus-img6-900x463.jpg" alt="">
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content4 cid-sOtudQPTdD" id="content4-y">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>CA675 Cloud Computing 2021/22</strong></h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5">
                    This webapp was developed by group 21 for assignment 2. This project aims to solve a real world problem (below) by leveraging big data technologies. To achieve this a dataset of ~8GB was cleansed and loaded into a Hadoop cluster. Hive was then leveraged to analyse the data in a meaningful way. To serve this web app the flask framework was utilised. This technology uses the Pyhthon language and allows us to utilise PyHive to interact with our cluster.</h4>
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content6 cid-sOtww9RaAX" id="content6-z">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <hr class="line">
                <p class="mbr-text align-center mbr-fonts-style my-4 display-5">
                    <em>While tools exist&nbsp;to find the best value or most environmentally&nbsp;friendly flight there are scenarios where the most important metric is reliability.</em></p>
                <hr class="line">
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content8 cid-sOtxE9ZHYY" id="content8-12">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="counter-container col-md-12 col-lg-10">
                <h4 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                    Team members</h4>
                <div class="mbr-text mbr-fonts-style display-7">
                    <ul>
                        <li><strong>Jitesh Jhawar</strong></li>
                        <li><strong>Akshatha Dharmappa</strong></li>
                        <li><strong>Ryan O'Toole</strong></li><li><strong>James Nugent</strong></li><li><strong>Colm Sheehan</strong></li><li><strong>Matthew Nolan</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
